/* место для вашего кода */

.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 50px;
    width: 1100px;
}
.header__menu {
    width: 391.48px; 
    font-family: Raleway, sans-serif;
}
ul{
    display: flex;
    gap: 31px;
    list-style: circle;
}
.header__links-list-item_no-bullit{
    list-style: none;
}
.header__logo {
    width: 148px;
    height: 105px;
}
.address{
    justify-self: end;
    font-family: serif;
}
.cover{
    width: 1100px;
    height: 757px;
    position: relative;
    background-size: cover;
    background-image: url(../images/cover.jpg);
    display: grid; 
}
.cover__title{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 150px;
    letter-spacing: 0.3em;
    color: white;
    font-size: 70px;
    margin: auto 50px;  
}
.aligned-text{
    text-align: start;
}
.aligned-text_center{
    text-align: center;
}
.aligned-text_right{
    text-align: end;
}
.cover__description{
    margin: auto;
    width: 1000px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cover__description-text{
    width: 1000px;
    font-family: Raleway;
    font-weight: 400;
    line-height: 28px;
    font-size: 23px;
    word-spacing: 13px;
    padding-top: 12px;
    text-align: left;
}
.bet-button{
    width: 300px;
    border: 2px white solid;
    height: 51px;
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 23px;
}
.lots{
    width: 1052px;
    height: 723px;
    margin:80px auto 120px;
}
.lots__heading{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    font-size: 40px;
    position: relative;
    left: 40px; 
}
.card{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 30px;
}
.card-link{
    width: 334px;
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    opacity: 90%;
}
.card_type_film{
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
}
.card_type_book{
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}
.card_type_picture{
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
}
.card__title{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
}
.card__text{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-size: 20px;
    color: white;
    opacity: 0.9;
}
.lots__look-more-link{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    font-size: 20px;
    position: relative;
    left: 40px;
    top: 40px;
}
.about{
    width: 1052px;
    margin: 24px auto 180px;
}
.about__column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
.about__logo{
    left: 47px;
    top: 35px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__logo-image{
    width: 150px;
    position: absolute;
    z-index: 2;
}
.about__title{
    margin-top: 133px;
    height: 150px;
    font-family: Raleway;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    font-size: 40px;
}
.about__text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text{
    font-family: Raleway;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-size: 20px;
}
.footer{
    width: 1100px;
    height: 180px;
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}
.vector{
    justify-self: start;
}
.footer__menu-list{
    width: 163.9px;
    text-align: center;
}
.footer__menu-link_active{
    text-decoration: none;
}
.footer__social-list{
    width: 240px;
    display: flex;
    gap: 62px;
    /* justify-content: space-around;  */
    justify-self: end;
}
.footer__social-icon{
    width: 39px;
}



